.box{
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}

.input:focus{
    outline-color: #3381FF;
}

.invalid {
    border: 1px solid #fa2323;
}


@media screen and (max-width: 760px) {
    .box{
      width: 100%;
      margin-bottom: 5px;
    }
}

